html{
  font-size: 18px;
  line-height: 1.4;
}

body{
  font-family: "Helvetica", sans-serif;
  font-size: 1rem;
}

header{
  height:31rem;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.site-container{
  width: 960px;
  margin:0 auto;
  }

nav{
  width: 100%;
  height: 3rem;
  background-color: cadetblue;
  position: relative;
  top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  padding-left:2rem;
  text-align: left;
  display: inline-flex;
  align-items: center;
}

.logo img{
  height:1.5rem;
  width: auto;
  padding-right: 1rem;
}

h4,
a{
  color:white;
  text-decoration: none;
  padding-right: 2rem;
}

.links{
margin: 1rem 0rem;
}

.item{
  display: flex;
}

header .item{
  justify-content: flex-end;
}

.heading{
  position: relative;
  top: 10rem;
  padding:1.5rem 5rem;
  background-color: white;
  display: flex;
  margin-right: -2rem;
}

.heading h1{
  font-size: 2rem;
  line-height: 1.2;
  font-weight: bold;
  }

/*Main section*/

section{
  width: 100%;
  }

.center{
  display: flex;
}

section.center{
align-items: center;
flex-direction: column;
  }

.group{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.icon{
  display: flex;
  margin: 3rem;
  height:8rem;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 5rem;
  text-align: center;
  }

  #special{
    width: 3.5rem;
    }

.icon img{
  width: 5rem;
  margin-bottom: 1rem;
  }

.text{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  display: flex;
  align-items: flex-start;
}

.phil{
 width: 35%;
 height: auto;
 margin-right: 5%;
 display: flex;
 justify-content: flex-start;
 flex-direction: column;
}

.phil h4{
  background-color: cadetblue;
  font-weight: bold;
  text-transform: uppercase;
  width: 10rem;
  height: auto;
  padding:0.5rem 0 0.5rem 1.23rem;
  margin-bottom: 1rem;
  }

  .phil p{
  line-height: 1.4;
}

  /*Footer*/
footer{
  background-color: azure;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
footer img{
  height: 1.5rem;
  padding:4rem 1rem 4rem 4rem;
}

footer h4{
  color: black;
}

.nav-mobile{
  display: none;
}

@media only screen and (max-width: 1077px){
  header{
    height: 22rem;
    width: 100%;
  }

.site-container{
    width: 100%;
      }

.nav-mobile{
  display: none;
}

  nav{
    top:0;
    width: 100%;
  }

  .heading{
    top:5rem;
    margin-right: 2rem;
    padding:0.75rem 4rem;
  }

  .heading h1{
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 768px){
  header{
    height: 17rem;
    background-position: 20%;
  }

.nav-desktop{
  display: none;
}

.nav-mobile{
  display: inline;
}

.logo h4{
  display:none;
}

.heading{
  width: 100%;
  display: flex;
  justify-content: center;
  top:9rem;
  margin: 0;
  padding:1rem 0 1rem 0;
}

.heading h1{
  font-size: 1rem;
}
}

@media only screen and (max-width: 550px){
 .mobile-group{
  display: flex;
  flex-direction: column;
  margin: 3.77rem 0;
}

.icon{
  font-size: 0.77rem;
  margin: 0.77rem;
  height: auto;
}
.text{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

.phil{
  width: 100%;
}

.phil h4{
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}

.phil p{
  font-size: 0.75rem;
  margin-bottom: 4rem;
  padding:0.3rem;
}

footer h4{
  display:none;
}

.alfa{
  display: flex;
  justify-content: center;
}

.alfa img{
  padding:4rem 0;
}
 }
